
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <title> {% block title %}{% endblock %}</title>
</head>
<body> 
    <nav class="navbar">
    <a href="/">Home</a>
    <a href="/users">Users list</a>
    <a href="/users/new">Create a new user</a>
    </nav>
    <h1 id="basewelcome"> Welcome to Blogly Part1 &#127876 Happy 2024! &#127878</h1>
    </section>
    <main id="content"> {%block content%}{% endblock %} </main>
    {% with messages= get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <section class="messages">
    {% for category,msg in messages %}
    <p class="{{category}}">{{category}}: {{msg}}</p>
    {% endfor %}
    </section>
    {%endif%}
    {%endwith%}

</body>
</html>