{% extends "base.html" %}
{% block title %} New user {% endblock %}
{% block content %}

<h1>Editing User {{user.first_name}} {{user.last_name}}</h1>
    
<form id="" action="/users/{{user_id}}/edit" method="POST">
    <p id="firstnametag">first name</p>
    <input type="text"name="first_name">
    <p id="lastnametag">last name</p>
    <input type="text" name="last_name">
    <p id="imageurltag">image url</p>
    <input type="text" name="image_url">
    <button id="editbutton">Edit User</button>
</form>

<ul id="messagecontainer"></ul>

<p>Thanks for browsing!</p>
    
</body>
</html>
{%endblock%}